
.container {
  width: 90%;
  margin-left: 40px;
}


body {
  background-image: url('../images/camera.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-left: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

p {
  line-height: 1.4em;
}

a {
  color: white;
  text-decoration: none;
  font-family: fantasy;
}

h2 {
  line-height: 1.5em;
}

#hello {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  margin-left: 50px;
}

#title {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin-left: 20px;
}
